@font-face {
  font-family: interRegularFont;
  src: url(Inter-Regular.ttf);
}

body {
  margin: 20px;
  font-family: interRegularFont;
  background-color: #FFFAF8;
}

.header {
  background-color: #FFFAF8;
  width: 100%;
  /* position: fixed;
  top: 0px; */
}

.company {
  font-family: interRegularFont;
  font-style: normal;
  font-weight: bolder;
  font-size: 48px;
  letter-spacing: -0.065em;
  margin: 200px 10px 0px 70px;
  color: #AC7590;
}

input {
  border: 2px solid #C2C2C2;
  border-radius: 20px;
  font-family: interRegularFont;
  padding: 2px 1px 2px 10px;
}

.bag-image {
  width: 37px;
  height: 32px;
}

.line {
  margin: 15px;
  width: 100%;
  background-color:#A86084;
}

#perfume-collection {
  margin: 2rem 10rem 2rem 10rem;
  justify-content: center;
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: .25rem; */
}

.card {
  text-align: left;
  font-size: smaller;
  background-color: #FFFFFF;
  border: 3px solid #E6E6E6;
  border-radius: 24px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
}

.perfume-image {
  justify-self: center;
  height: 13rem;
  width: auto;
  margin-bottom: 10px;
  margin-top: 5px;
  max-width: 15rem;
}

.perfume-brand {
  color: #AC7590;
  height: 7px;
  margin: 20px 0px 0px 5px;
}

.perfume-name {
  margin: 0px 0px 0px 5px;
  font-weight: 100px;
}

button {
  position: relative;
  background-color: #AC7590;
  border: 2px;
  border-radius: 20px;
  width: 198px;
  height: 37px;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  transition: all 200ms ease-in-out;
  margin: 5px 5px 0px;
}
button:hover {
  background-color: #FFFFFF;
  border: #AC7590 solid 2px;
  color: #A86084;
}

.hide {
  display: none;
}


/* .container {
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
  background: #515DA2;
  opacity: .8;
} */